<!DOCTYPE html>

<head>
  <html lang="en">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-divider@1.1.0/dist/bulma-divider.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <title>Paprika - <%=name%></title>
</head>
<script>
  function clickedEvent(e) {
    if (!confirm('Êtes-vous sur de bien vouloir supprimer cet événement ?')) {
      e.preventDefault();
    }
  }
  function clickedMember(e) {
    if (!confirm('Êtes-vous sur de bien vouloir supprimer ce membre ?')) {
      e.preventDefault();
    }
  }

</script>

<body>

  <nav class="navbar m-3" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://www.larondavelle.re/sites/default/files/epitech-logo-quadri%20-%20Emilie%20B.png">
      </a>
    </div>

    <div class="navbar-start">
      <a class="navbar-item" href="/">
        <h1 class="title">
          <%=name%>
        </h1>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <%=email %>
          <form action="/logout?_method=DELETE" method="POST">
            <button class="button ml-5" type="submit">
              <span class="icon is-small">
                <i class="fas fa-sign-out-alt"></i>
              </span>
            </button>
          </form>
      </div>
    </div>
    </div>
  </nav>

  <div class="columns p-6">
    <div class="column is-half container">
      <h2 class="subtitle p-2 pb-0 mb-0">Ajouter un membre</h2>
      <div class="notification is-link has-text-white">

        <form action="/addMember?_asso=<%=name%>" method="POST">
          <div class="field">
            <label class="label has-text-white">Mail du membre</label>
            <div class="control has-icons-left ">
              <input class="input" type="email" name="member_email" id="member_email" required />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label has-text-white">Promotion du membre</label>
            <div class="control has-icons-left">
              <input class="input" type="number" name="member_promo" id="member_promo" min="2020" max="2035" required />
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="columns is-vcentered is-multiline">
            <div class="column field is-two-third">
              <label class="label has-text-white">Poste dans l'association</label>
              <div class="control">
                <div class="select">
                  <select name="member_job" id="member_job" required>
                    <option value="membre">Membre</option>
                    <option value="responsable">Résponsable</option>
                    <option value="secretaire">Secrétaire</option>
                    <option value="tresorier">Trésorier</option>
                    <option value="president">President</option>
                  </select>
                </div>
              </div>
            </div>
            <div class=" column field has-text-right">
              <div class="control">
                <button class="button is-success" type="submit">Ajouter le nouveau membre</button>
              </div>
            </div>
          </div>
        </form>
        <div class="divider has-text-white">OU</div>
          <form action="/addMemberFromFile?_asso=<%=name%>" enctype="multipart/form-data" method="POST">
            <div class="columns is-multiline">
              <div class="column is-one-fifths file has-name" style="margin-top: 2px;" id="file-upload">
                <label class="file-label">
                  <input class="file-input " type="file" name="fileToUpload" id="fileToUpload" accept=".csv">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choisissez un fichier .csv
                    </span>
                  </span>
                  <span class="file-name">
                  </span>
                </label>
              </div>
              <div class="column is-three-fifth">
                <p class="help is-italic"><b>Format : </b>email,promotion,poste</p>
                <p class="help">pierre.dupond@epitech.eu,2025,membre</p>
                <p class="help">patrick.chirac@epitech.eu,2022,president</p>
              </div>
              <div class="column is-one-fifths has-text-right">
                <div class="control has-text-right">
                  <button class="button is-success" type="submit">Ajouter depuis le csv</button>
                </div>
              </div>
            </div>
          </form>
        <script>
          const fileInput = document.querySelector('#file-upload input[type=file]');
          fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
              const fileName = document.querySelector('#file-upload .file-name');
              fileName.textContent = fileInput.files[0].name;
            }
          }
        </script>
        <% if(typeof error !='undefined' ) {%>
          <div class="notification is-danger p-3 has-text-centered">
            <%= error %>
          </div>
          <% } %>
      </div>
    </div>

    <div class="column is-half container">
      <h2 class="subtitle p-2 pb-0 mb-0">Ajouter un évent</h2>
      <div class="notification is-info has-text-white">
        <form action="/addEvent?_asso=<%=name%>" method="POST">
          <div class="field">
            <label class="label has-text-white">Nom de l'événement</label>
            <div class="control">
              <input class="input" type="text" name="event_name" id="event_name" required />
            </div>
          </div>
          <div class="field">
            <label class="label has-text-white">Date de l'événement</label>
            <div class="control">
              <input class="input" type="date" name="event_date" id="event_date" required />
            </div>
          </div>

          <div class="field">
            <div class="control pb-2">
              <button class="button is-success mt-5 mb-3" type="submit">Ajouter le nouvel événement</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="columns mx-6 is-multiline">
    <div class="column is-half">
      <h2 class="subtitle p-2 pb-0 mb-0">Liste des membres</h2>
      <script type="text/javascript">
        function change() {
          var valeurPromo;
          valeurPromo = document.getElementById("promo").value;
          valeurStaff = document.getElementById("staff").value;
          console.log(valeurPromo + " " + valeurStaff);
          window.location.replace("/?_member_promo=" + valeurPromo + "&_member_poste=" + valeurStaff);
        }
      </script>
      <form>
        <div class="field is-grouped">
          <div class="field is-horizontal mr-5">
            <div class="field-label is-normal">
              <label class="label">Promo</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select id='promo' onChange="change();">
                      <option value="Toutes">Choisir</option>
                      <option>Toutes</option>
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                      <option>2026</option>
                      <option>2027</option>
                      <option>2028</option>
                      <option>2029</option>
                      <option>2030</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ml-5 field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Postes</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select id='staff' onChange="change();">
                      <option value="Tous">Choisir</option>
                      <option>Tous</option>
                      <option>Staff</option>
                      <option>Bureau</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <table class="table is-striped" style="width: 100%;">
        <thead>
          <tr>
            <th>Email</th>
            <th>Promotion</th>
            <th>Poste dans l'association</th>
            <th>Epices</th>
            <th> </th>
          </tr>
        </thead>
        <tbody id="myTable">
          <% if (allmembers) { allmembers.forEach(function(member){ %>
            <tr>
              <td>
                <%=member.email %>
              </td>
              <td>
                <%= member.promo%>
              </td>
              <td>
                <%= member.job%>
              </td>
              <td>
                <% var spices=0; allevents.forEach(function (event) { if (event.staffs) {
                  (event.staffs).forEach(function (staff) { if (staff.mail==member.email) spices
                  +=parseInt(staff.spices); }) }})%>
                  <%= spices %>
              </td>
              <td>
                <form action="/deleteMember?_asso=<%=name%>&_email=<%=member.email%>" method="post">
                  <button class="button is-white is-small" type="submit" value="Submit" onclick="clickedMember(event)">
                    <span class="icon is-danger">
                      <i class="fas fa-trash-alt fa-lg"></i>
                    </span>
                  </button>
                </form>
              </td>
            </tr>
            <%})} %>
        </tbody>
      </table>
    </div>

    <div class="column is-half">
      <h2 class="subtitle p-2 pb-0 mb-0">Liste des évenements</h2>
      <table class="table is-striped" style="width: 100%;">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Date</th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <% if (allevents) { allevents.forEach(function(event){ %>
            <tr>
              <td>
                <%=event.name%>
              </td>
              <td>
                <%=event.date%>
              </td>
              <td>
                <a class="button is-info is-small" type="submit" value="Submit"
                  href="/editEvent?_name=<%=event.name%>&_date=<%=event.date%>">
                  Liste des staffs
                </a>
              </td>
              <td>
                <form action="/deleteEvent?_asso=<%=name%>&_event=<%=event.name%>&_date=<%=event.date%>" method="post">
                  <button class="button is-white is-small" type="submit" value="Submit" onclick="clickedEvent(event)">
                    <span class="icon is-danger">
                      <i class="fas fa-trash-alt fa-lg"></i>
                    </span>
                  </button>
                </form>
              </td>
            </tr>
            <%})} %>
        </tbody>
      </table>
      <form action="/getCSV?asso=<%=name%> " method="POST">
        <button class="button is-info" type="submit">récupérer le récapitulatif .csv</button>
      </form>
    </div>
  </div>
  <div>
  </div>
</body>

</html>