<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../css/index.css">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<title>Paprika - Gestion</title>
<head>

</head>

<body>

    <nav class="navbar m-3" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://www.larondavelle.re/sites/default/files/epitech-logo-quadri%20-%20Emilie%20B.png">
            </a>
        </div>

        <div class="navbar-start">
            <a class="navbar-item" href="/">
                <h1 class="title">
                    Campus Manager
                </h1>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <%=email %>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button class="button ml-5" type="submit">
                            <span class="icon is-small">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                        </button>
                    </form>
            </div>
        </div>
        </div>
    </nav>
    <div class="columns p-6">
        <div class="column is-half container">
            <h2 class="title pb-4" style="text-align: center;">Liste des associations</h2>
            <table class="table is-striped" style="width: 50%;">
                <thead>
                    <tr>
                        <th>Association</th>
                        <th>Mail de l'association</th>
                        <th>Mail du Président</th>
                        <th>Dernier Event</th>
                        <th>Evenements</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (assos) { assos.forEach(function(asso){ if (asso.email=="leslie@mail.com") {return;} %>
                             <tr>
                                <td>
                                    <%=asso.name%>
                                </td>
                                <td>
                                    <%=asso.email%>
                                </td>
                                <td>
                                    <% if ((asso.members).filter(o => o.job == "president")[0]) {%> <%= (asso.members).filter(o => o.job == "president")[0].email%> <%}%> 
                                </td>
                                <td>
                                    <% if (allevents.filter(o => o.asso == asso.name)[0]) {%> <%= allevents.filter(o => o.asso == asso.name)[0].name%> <%}%> 
                                </td>
                                <td>
                                    <% if (allevents.filter(o => o.asso == asso.name))  {%> <%= allevents.filter(o => o.asso == asso.name).length %> <%}%> 
                                </td>
                                <td>
                                    <a class="button is-info is-small" type="submit" value="Submit"
                                        href="/assoInfo?_name=<%=asso.name%>">
                                        détails
                                    </a>
                                </td>
                            </tr>
                            <%})} %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="columns p-6">
        <div class="column is-half container">
            <h2 class="title pb-4" style="text-align: center;">Liste des étudiant</h2>
            <div class="columns p-6">
                <div class="column is-half container">
                  <h2 class="subtitle p-2 pb-0 mb-0">Ajouter un étudiant</h2>
                  <div class="notification is-link has-text-white">
                    <form action="/addStudent" method="POST">
                      <div class="field">
                        <label class="label has-text-white">Mail</label>
                        <div class="control has-icons-left ">
                          <input class="input" type="email" name="memberemail" id="memberemail" required />
                          <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                        </div>
                      </div>
                      <div class="field">
                        <label class="label has-text-white">Promotion</label>
                        <div class="control has-icons-left">
                          <input class="input" type="text" name="memberpromo" id="memberpromo" required />
                          <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                      </div>
                      <div class="columns is-vcentered is-multiline">
                        <div class=" column field has-text-right">
                          <div class="control">
                            <button class="button is-success" type="submit">Ajouter l'étudiant</button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="divider has-text-white">OU</div>
                    <form action="/addStudentFromFile" enctype="multipart/form-data" method="POST">
                        <div class="columns is-multiline">
                            <div class="column is-one-fifths file has-name" style="margin-top: 2px;" id="file-upload">
                                <label class="file-label">
                                <input class="file-input " type="file" name="fileToUploadUser" id="fileToUploadUser" accept=".csv">
                                <span class="file-cta">
                                <span class="file-icon">
                                <i class="fas fa-upload"></i>
                             </span>
                    <span class="file-label">
                      Choisissez un fichier .csv
                    </span>
                  </span>
                  <span class="file-name">
                  </span>
                </label>
              </div>
              <div class="column is-three-fifth">
                <p class="help is-italic"><b>Format : </b>email,promotion</p>
                <p class="help">pierre.dupond@epitech.eu,2025</p>
                <p class="help">patrick.chirac@epitech.eu,2022</p>
              </div>
              <div class="column is-one-fifths has-text-right">
                <div class="control has-text-right">
                  <button class="button is-success" type="submit">Ajouter depuis le csv</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
</body>

</html>